#----------------------------------------
# Shared
#----------------------------------------

# System
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env*
!/.env*.erb

# Other
.vercel

#----------------------------------------
# Next.js
#----------------------------------------

# dependencies
nextjs_api/node_modules/
nextjs_api/.pnp
nextjs_api/.pnp.*
nextjs_api/.yarn/*
!nextjs_api/.yarn/patches
!nextjs_api/.yarn/plugins
!nextjs_api/.yarn/releases
!nextjs_api/.yarn/versions

# testing
nextjs_api/coverage/

# next.js
nextjs_api/.next/
nextjs_api/out/

# production
nextjs_api/build/

# Typescript
nextjs_api/*.tsbuildinfo
nextjs_api/next-env.d.ts

# Vercel
nextjs_api/.vercel/

# SSL
*.pem

#----------------------------------------
# Rails
#----------------------------------------

# Bundler config
rails_api/.bundle

# Rails logs and tempfiles
rails_api/log/*
rails_api/tmp/*
!rails_api/log/.keep
!rails_api/tmp/.keep

# PID files
rails_api/tmp/pids/*
!rails_api/tmp/pids/
!rails_api/tmp/pids/.keep

# Active Storage and SQLite data
rails_api/storage/*
!rails_api/storage/.keep
rails_api/tmp/storage/*
!rails_api/tmp/storage/
!rails_api/tmp/storage/.keep

# Rails credentials
rails_api/config/master.key
