#----------------------------------------
# Shared
#----------------------------------------

# System
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env*
!/.env*.erb

# Other
.vercel

#----------------------------------------
# Next.js
#----------------------------------------

# dependencies
nextjs_api/node_modules/
nextjs_api/.pnp
nextjs_api/.pnp.*
nextjs_api/.yarn/*
!nextjs_api/.yarn/patches
!nextjs_api/.yarn/plugins
!nextjs_api/.yarn/releases
!nextjs_api/.yarn/versions

# testing
nextjs_api/coverage/

# next.js
nextjs_api/.next/
nextjs_api/out/

# production
nextjs_api/build/

# Typescript
nextjs_api/*.tsbuildinfo
nextjs_api/next-env.d.ts

# Vercel
nextjs_api/.vercel/

# SSL
*.pem
